@font-face {
    font-family: "BEBAS";
    src: url("./BEBAS_PL") format("ttf");
  }
  
  /* @font-face {
    font-family: "FutraNext-ExtraBold";
    src: url("./futura/FuturaNext-ExtraBold.woff") format("woff");
  }
  
  @font-face {
    font-family: "FutraNext-DemiBold";
    src: url("./futura/FuturaNext-DemiBold.woff") format("woff");
  }
  
  @font-face {
    font-family: "FuturaNext-DemiBoldOblique";
    src: url("./futura/FuturaNext-DemiBoldOblique.woff") format("woff");
  }
  
  @font-face {
    font-family: "FuturaNext-BookOblique";
    src: url("./futura/FuturaNext-BookOblique.woff") format("woff");
  }
   */